@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

 @media (prefers-color-scheme: dark) {
  :root {
    --text-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  
  }
} 

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
